<div class="clear"></div>
<h1>Titulares / Personas Fisicas</h1>
<div class="clear"></div>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">CUIT</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
<!--       <tr *ngFor="let item of personasFisicas">
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.dni}}</td>
          <td>{{item.cuit}}</td>
          <td> <img src="../../assets/write.png" class="editIcon" (click)="edit(item)">
               <img src="../../assets/deletered.png" class="editIcon" (click)="delete(item)">
          </td>
        </tr> -->
        <tr>
            <th>"123456"</th>
            <th>"Diana"</th>
            <th>"Pelaez"</th>
            <th>"999999"</th>
            <th> <img src="../../assets/write.png" class="editIcon">
                 <img src="../../assets/deletered.png" class="editIcon">
            </th>
        </tr>
  </tbody>
</table>
