<div class="clear"></div>
<button type="button" [routerLink]="['/personaFisicaComponent']" class="btn btn-outline-primary">Personas Fisicas</button>
<button type="button" [routerLink]="['/createPersonaFisicaComponent']" class="btn btn-outline-primary">Agregar personas fisicas</button>
<button type="button" [routerLink]="['/personaJuridicaComponent']" class="btn btn-outline-primary">Personas Juridicas</button>
<button type="button" [routerLink]="['/createPersonaJuridicaComponent']" class="btn btn-outline-primary">Agregar personas juridicas</button>
<router-outlet></router-outlet>


