<div class="clear"></div>
<h2>Titulares / Personas Juridicas</h2>
<div class="clear"></div>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">Razón Social</th>
      <th scope="col">Año de Fundación</th>
      <th scope="col">CUIT</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
<!--       <tr *ngFor="let item of personasJuridicas">
          <td>{{item.razon}}</td>
          <td>{{item.fundacion}}</td>
          <td>{{item.cuit}}</td>
          <td> <img src="../../assets/write.png" class="editIcon" (click)="edit(item)">
               <img src="../../assets/deletered.png" class="editIcon" (click)="delete(item)">
          </td>
        </tr> -->
        <tr>
            <th>"Transporte de alimentos"</th>
            <th>"2015"</th>
            <th>"77777"</th>
            <th> <img src="../../assets/write.png" class="editIcon">
                 <img src="../../assets/deletered.png" class="editIcon">
            </th>
        </tr>
  </tbody>
</table>
